* {
    box-sizing: border-box;
    margin: auto;
}

#container{
    background-image: url("src/background.png");

}

a{
    text-decoration: none;
    color: inherit;
}

header{
    z-index: -5;
    padding: 1rem 2rem;
    text-align: center;
    color: lightgrey;
    font-family: "Road Rage", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: calc(2px + 2.5vw);
}

@keyframes shake {
    0%{
        transform: rotate(3deg);
    }
    25%{
        transform: rotate(-4deg);
    }
    50%{
        transform: rotate(3deg);
    }
    75%{
        transform: rotate(-4deg);
    }
    100%{
        transform: rotate(3deg);
    }
}

.popout {
    width: 4rem;
    height: 100vh;
    position: fixed;
    background-color: rgba(34,34,34,.9);
    transition: width 300ms;
}

.menu{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.links{
    display: flex;
    height: 5rem;
    color: black;
    font-family: "Bahnschrift", sans-serif;
    text-decoration: none;
    margin: 1rem 0 2rem;
}

.label{
    display: none;
    margin-left: .5rem;
    color: lightgrey;
}

.links svg{
    min-width: 2rem;
    max-width: 2rem;
    margin: 0 1rem;
    fill: lightgrey;
}

.popout:hover {
    width: 17rem;
}

.popout:hover .links .svg2{
    margin-left: -40px;
}

.popout:hover .links .svg1{
    margin-left: -60px;
}

.popout:hover .links .svg3{
    margin-left: -60px;
}

.popout:hover .links .svg4{
    margin-left: -5px;
}

.popout:hover .links .svg5{
    margin-left: -35px;
}

.popout:hover .label{
    display: block;
}

.label:visited{
    color: deeppink;
}

.label:hover {
    color: hotpink;
}

nav{
    z-index: 1;
}

section{
    font-family: "Bahnschrift", sans-serif;
    padding: 2%;
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    color: #ede8f5;
    grid-template-columns: 1fr 2fr;


}
section p{
    background-color: deeppink;
    font-size: calc(1vh + 1vw);
}

section h2{
    background-color: deeppink;
    font-size: calc(1.5vh + 1vw);
}

.hideThis{
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 3s;


}
.show{
    opacity: 1;
    filter: blur(0);
    transform: translateX(0%);
}
footer a{
    text-decoration: underline;
}

footer a:link{
    color: blue;
}

footer a:visited{
    color: darkblue;
}

footer a:hover{
    color: lightblue;
}

footer{
    padding: 1vh 1vw;
    display: flex;
    flex-direction: row;
    color: whitesmoke;
    font-size: calc(2px + 1vw);
}

footer p{
    margin-left: 10vw;
    width: 100%;
}

#time-date{
    width: 40%;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    font-size: calc(2px + 1vw);
}


@media screen and (max-width: 750px) {


    footer p{
        margin-left: 15vw;
    }
}
@media screen and (max-width: 520px) {

    footer p{
        margin-left: 20vw;
    }
}

@media(prefers-reduced-motion){
    .hidden{
        transition: none;
    }
}