* {
    box-sizing: border-box;
    margin: auto;
}

#container{
    background-image: url("src/background.png");
}

a{
    text-decoration: underline;
    color: lightblue;
}

a:hover{
    color: blue;
}

header{
    z-index: -5;
    padding: 1rem 2rem;
    text-align: center;
    color: lightgrey;
    font-family: "Road Rage", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: calc(2px + 2.5vw);
}


.popout {
    width: 4rem;
    height: 100vh;
    position: fixed;
    background-color: rgba(34,34,34,.9);
    transition: width 300ms;
}

.menu{
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.links{
    display: flex;
    height: 5rem;
    color: black;
    font-family: "Bahnschrift", sans-serif;
    text-decoration: none;
    margin: 1rem 0 2rem;
}

.label{
    display: none;
    margin-left: .5rem;
    color: lightgrey;
}

.links svg{
    min-width: 2rem;
    max-width: 2rem;
    margin: 0 1rem;
    fill: lightgrey;
}

.popout:hover {
    width: 17rem;
}

.popout:hover .links .svg2{
    margin-left: -40px;
}

.popout:hover .links .svg1{
    margin-left: -60px;
}

.popout:hover .links .svg3{
    margin-left: -60px;
}

.popout:hover .links .svg4{
    margin-left: -5px;
}

.popout:hover .links .svg5{
    margin-left: -35px;
}

.popout:hover .label{
    display: block;
}

.label:visited{
    color: deeppink;
}

.label:hover {
    color: hotpink;
}

main{
    margin-left: 5.5rem;
    height: 250vh;
    color: whitesmoke;
}

main p{
    padding: 1vw;
    font-size: calc(2px + 1vw);
}

footer{
    padding: 1vh 1vw;
    display: flex;
    flex-direction: row;
    color: whitesmoke;
    font-size: calc(2px + 1vw);
    text-align: left;
}

#time-date{
    width: 40%;
    display: flex;
    flex-direction: row;
    margin-left: 70vw;
    font-size: calc(2px + 1vw);
}